*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.abus h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    
}
body{
    background: url(1.jpg);
    background-size: 1300px;
    background-repeat: no-repeat;
}